version: '3.8'

services:
  jetty:
    build: .
    ports:
      - '8081:8081'
    depends_on:
      - 'postgres'
  postgres:
    image: postgres:13.2
    ports:
      - '5432:5432'
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: db
      DB_HOST: jetty